@charset "utf-8";

html {
    background: #1c1d26;
    height: 100%;
    margin: 0;
}

body {
    color: rgba(255, 255, 255, 0.75);
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 1.25em;
	font-weight: 100;
	line-height: 1.75em;
    align-items: center;
}

.wrap {
    min-height: 100%;
    margin-bottom: -10%;
}

.banner {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
	background-image: url("../../images/main.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    border: 0em;
    margin: 0%;
    align-items: center;
    justify-content: center;
}

.banner #box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner #box #content {
    margin-top: 5em;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .banner #box #content {
        font-size: 0.5em;
    }
}

.banner #box #content #text {
    font-size: 2em;
    color: whitesmoke;
	margin: 0;
}

.banner #textio {
    display: flex;
    justify-content: center;
}



textarea {
    margin-top: 4em;
    box-sizing: border-box;
    width: 45em;
    height: 25em;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .6);
    border: 0;
	font-family: "Roboto", Helvetica, sans-serif;
    resize: none;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    font-size: 1.05em;
    color: #ffffff;
    padding: 1em;
    outline: none;
}

textarea:hover {
    transform: scale(1.03) translateZ(0);
}